*{box-sizing:border-box}
body{
    margin:0;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#07070c;
    font-family:'Vazirmatn',sans-serif;
    color:white;
    overflow:hidden;
}

/* نور پس زمینه */
.bg-glow{
    position:fixed;
    width:900px;
    height:900px;
    background:radial-gradient(circle,#7a2cff55,transparent 70%);
    filter:blur(80px);
    animation:moveGlow 12s infinite alternate ease-in-out;
}

@keyframes moveGlow{
    from{transform:translate(-20%,-10%)}
    to{transform:translate(20%,10%)}
}

/* کارت */
.auth-card{
    width:380px;
    padding:45px 35px;
    border-radius:28px;
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(25px);
    text-align:center;
    box-shadow:0 0 70px rgba(0,0,0,.5);
}

/* لوگو */
.logo{
    width:85px;height:85px;margin:auto;
    border-radius:22px;
    background:linear-gradient(135deg,#b84cff,#ff66c4);
    display:flex;align-items:center;justify-content:center;
    font-size:34px;font-weight:bold;margin-bottom:25px;
    box-shadow:0 0 50px rgba(210,90,255,.5);
}

.subtitle{opacity:.7;margin-bottom:30px}

/* دکمه ها */
.btn{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:16px;
    font-size:15px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    transition:.25s;
}

/* گوگل */
.google{
    background:#ffffff12;
    color:white;
}
.google:hover{
    background:#ffffff22;
    transform:translateY(-2px);
}

/* مهمان */
.guest{
    background:linear-gradient(135deg,#b84cff,#ff66c4);
    color:white;
}
.guest:hover{
    transform:translateY(-2px);
    filter:brightness(1.1);
}

.divider{
    margin:22px 0;
    opacity:.4;
}

.terms{
    opacity:.5;
    font-size:13px;
    margin-top:20px;
}
